general:
  host: localhost
  port: 6667
  nickname: fortunella
  password: 
  encoding: utf-8
  plugin_dir: plugins
  loglevel: info

plugins:
  Echo:
    disabled:
      - '.*'

  Http:
    Default:
    NicoVideo:
    YouTube:

  GoogleSearch:
    Web:
    Image:

# vim: ft=yaml
